{
  "openapi": "3.0.0",
  "info": {
    "title": "Levqor API",
    "version": "1.0.0",
    "description": "AI-powered job orchestration and automation API",
    "contact": {
      "name": "Levqor Support",
      "url": "https://levqor.ai",
      "email": "support@levqor.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.levqor.ai",
      "description": "Production"
    },
    {
      "url": "http://localhost:5000",
      "description": "Local development"
    }
  ],
  "components": {
    "securitySchemes": {
      "DeveloperKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Developer API key (get from /developer/keys)"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Job": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "enum": ["queued", "processing", "completed", "failed"]
          },
          "workflow": {
            "type": "string",
            "example": "data-enrichment"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "key_id": {
            "type": "string"
          },
          "key_prefix": {
            "type": "string",
            "example": "lvk_live_abc123..."
          },
          "tier": {
            "type": "string",
            "enum": ["sandbox", "pro", "enterprise"]
          },
          "calls_used": {
            "type": "integer"
          },
          "calls_limit": {
            "type": "integer"
          },
          "reset_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "paths": {
    "/api/developer/keys": {
      "post": {
        "summary": "Create API key",
        "description": "Generate a new developer API key (limit 1 active key per user)",
        "security": [{"BearerAuth": []}],
        "tags": ["Developer"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tier": {
                    "type": "string",
                    "enum": ["sandbox", "pro", "enterprise"],
                    "default": "sandbox"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {"type": "boolean"},
                    "key": {"type": "string", "description": "Full API key (shown only once)"},
                    "key_id": {"type": "string"},
                    "tier": {"type": "string"},
                    "calls_limit": {"type": "integer"},
                    "reset_at": {"type": "string", "format": "date-time"}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Key limit reached or invalid tier"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "summary": "List API keys",
        "description": "Get all API keys for authenticated user",
        "security": [{"BearerAuth": []}],
        "tags": ["Developer"],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {"type": "boolean"},
                    "keys": {
                      "type": "array",
                      "items": {"$ref": "#/components/schemas/ApiKey"}
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/developer/keys/{key_id}": {
      "delete": {
        "summary": "Revoke API key",
        "description": "Deactivate an API key",
        "security": [{"BearerAuth": []}],
        "tags": ["Developer"],
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Key revoked"
          },
          "404": {
            "description": "Key not found"
          }
        }
      }
    },
    "/api/developer/usage": {
      "get": {
        "summary": "Get API usage",
        "description": "Get current period usage statistics",
        "security": [{"BearerAuth": []}],
        "tags": ["Developer"],
        "responses": {
          "200": {
            "description": "Usage statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {"type": "boolean"},
                    "current_period": {
                      "type": "object",
                      "properties": {
                        "calls_used": {"type": "integer"},
                        "calls_limit": {"type": "integer"},
                        "calls_remaining": {"type": "integer"},
                        "reset_at": {"type": "string", "format": "date-time"}
                      }
                    },
                    "tier": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/sandbox/jobs": {
      "post": {
        "summary": "Create sandbox job",
        "description": "Create a mock job for testing (no actual processing)",
        "security": [{"DeveloperKey": []}],
        "tags": ["Sandbox"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workflow": {"type": "string"},
                  "payload": {"type": "object"}
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job queued (mock)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        }
      }
    },
    "/api/sandbox/jobs/{job_id}": {
      "get": {
        "summary": "Get sandbox job",
        "description": "Get mock job status",
        "security": [{"DeveloperKey": []}],
        "tags": ["Sandbox"],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Job details (mock)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        }
      }
    },
    "/api/sandbox/users/{user_id}": {
      "get": {
        "summary": "Get sandbox user",
        "description": "Get mock user data",
        "security": [{"DeveloperKey": []}],
        "tags": ["Sandbox"],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "User data (mock)"
          }
        }
      }
    },
    "/api/sandbox/metrics": {
      "get": {
        "summary": "Get sandbox metrics",
        "description": "Get mock platform metrics",
        "security": [{"DeveloperKey": []}],
        "tags": ["Sandbox"],
        "responses": {
          "200": {
            "description": "Metrics (mock)"
          }
        }
      }
    },
    "/api/v1/intake": {
      "post": {
        "summary": "Submit job",
        "description": "Submit a new job for processing",
        "security": [{"DeveloperKey": []}],
        "tags": ["Jobs"],
        "responses": {
          "202": {"description": "Job queued"}
        }
      }
    },
    "/api/v1/status/{job_id}": {
      "get": {
        "summary": "Get job status",
        "description": "Check status of a job",
        "security": [{"DeveloperKey": []}],
        "tags": ["Jobs"],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {"description": "Job status"}
        }
      }
    }
  },
  "tags": [
    {
      "name": "Developer",
      "description": "API key management endpoints"
    },
    {
      "name": "Sandbox",
      "description": "Safe testing endpoints with mock data"
    },
    {
      "name": "Jobs",
      "description": "Job orchestration endpoints"
    }
  ]
}
