@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 14px;
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Inter, Arial;
  text-rendering: optimizeLegibility;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  content-visibility: auto;
}

* {
  outline-color: var(--ring, #93c5fd);
}
